<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agarthasf.epipre.mapper.AreaEpidemicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.agarthasf.epipre.pojo.AreaEpidemic">
        <id column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="risk_level" property="riskLevel" />
        <result column="belonging_city" property="belongingCity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        area_id, area_name, risk_level, belonging_city
    </sql>

</mapper>
